<!DOCTYPE html>
    <html lang="en">
    <head>
        <% include ../templates/head %>
    </head>
    <body>



      <footer id="FootNav" class="container-float">
          <% include ../templates/footer %>
      </footer>
    </body>
    </html>
