<!DOCTYPE html>
    <html lang="en">
    <head>
        <% include templates/head %>
    </head>
    <body>
        <header id="box" class="container-fixed">
            <% include templates/header %>
                <a name="content"></a>
        </header>
        <div id="content" class="container-float" >
          <div class="row">
            <div class="col-xs-12">
                <div class="row">
                    <div class="col-xs-1 col-md-2">
                    </div>
                    <div id="Main" class="col-xs-10 col-md-8">
                      <h1>Development Team</h1>
                      <br>
                      <br>
                      <div class="row">
                          <div class="col-md-4">
                            <img width="90%" src="/images/JacobKnightPhoto.jpeg">
                          </div>
                          <div class="col-md-8">
                              <h2 class="name"><a href="#">Jacob Knight</a></h2>
                              <p>Jacob Knight is our main developer. He is responsable for this beautiful site. He works in Full Stack and algorithmic developemnt. He has been programming since 2008 and has loved every minute of it. If you need a web or software solution he's your guy.
                              </p>
                          </div>
                      </div>
                    </div>
                </div>
            </div>
          </div>
        </div>
        <footer id="FootNav" class="container-float">
            <% include templates/footer %>
        </footer>
    </body>
    </html>
