
    <div class="row">
      <h4>&copy; Jacob Knight :: KnightProgramming 2016</h4>
    </div>
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="/lib/jquery/dist/jquery.js"></script>
    <!-- Latest compiled and minified JavaScript -->
    <script src="/lib/bootstrap/dist/js/bootstrap.js" ></script>
