<!--This is the nav bar and header fo the site-->
<div class="row">
    <div class="col-sm-12">
        <nav class="navbar navbar-fixed-top navbar-inverse">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="/"><img src="/images/KnightLogoXS.gif" alt="Knight Programming Logo"></a>
                </div>
                <!-- Collect the nav links, forms, and other content for toggling -->
                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                    <ul class="nav navbar-nav">
                        <li><a href="/about/">About Us</a></li>
                        <li class="dropdown">
                            <a href="/projects/" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Projects<span class="caret"></span></a>
                            <ul class="dropdown-menu">
                                <li><a href="/projects/#ToDoTracker">ToDo Tracker</a></li>
                                <li><a href="/projects/#DragonQuest">Dragon Quest</a></li>
                            </ul>
                        </li>
                        <li><a href="/people/">People</a></li>
                    </ul>
                    <ul class="nav navbar-nav navbar-right">
                        <li><a href="#" data-toggle="modal" data-target=".modalContact"> Contact</a></li>
                    </ul>
                </div>
            </div>
        </nav>
    </div>
</div>
<div class="modal fade modalContact" tabindex="-1" role="dialog" aria-labelledby="Contact Me">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
        <div class="col-xs-1">
        </div>
        <div class="col-xs-10">
        <form method="post" action="/contact/">
            <div class="form-group">
                <br>
                <input type="text" class="form-control" id="ContactName" name="fromName" aria-describedby="nameHelp" placeholder="Enter Full Name" required> 
                <br>
                <input type="email" class="form-control" id="ContactEmail" name="fromEmail" aria-describedby="emailHelp" placeholder="Enter email" required>
                <br>
                <input type="Subject" class="form-control" id="Subject" name="subject" area-describedby="subject" placeholder="Subject" required>
                <br>
                <textarea class="form-control" rows="25" id="message" name="textbox" required>Enter Message</textarea>
                <br>
                <button class="btn btn-primary" type="submit" name="submit">Send</button>
            </div>
        </form>
        </div>
    </div>
  </div>
</div>
<div id="Title" class="row">
    <div class="col-xs-12">
        <h1>Knight Programming</h1>
        <h2>Solution Development</h2>
    </div>
    <div id="down">
        <a href="#content"><span class="glyphicon glyphicon-triangle-bottom" aria-hidden="true"></span></a>
    </div>
</div>
